@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --spartan: 'Spartan', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    font-family: var(--spartan);
    font-size: 15px;
    background-color: var(--white);
}

.container{
    max-inline-size: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-image: url(images/bg-pattern-top-mobile.svg), 
    url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.heading h1{
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
    padding: 10px 40px;
    color: var(--veryDarkMagenta);
    letter-spacing: -1px;
}

.heading p{
    text-align: center;
    font-size: 14px;
    color: var(--veryDarkMagenta);
    line-height: 1.5;
    padding: 10px 0;
}

.rating{
    margin-top: 20px;
    align-self: stretch;
    padding: 10px 20px;
}

.rating div{
    text-align: center;
    margin: 15px 0;
    background-color: var(--lightGrayishMagenta);
    border-radius: 5px;
}

.rating-container{
    padding: 10px 10px;
}

.rating-container p{
    font-weight: bold;
    color: var(--veryDarkMagenta);
}

.reviews{
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 14px;
    color: var(--white);
}

.review-container{
    background-color: var(--veryDarkMagenta);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 20px;
}

.image-container{
    margin-top: 20px;
}

.image-container img{
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.image-container h3{
    font-size: 14px;
}

.image-container p{
    color: var(--softPink);
    font-size: 14px;
    font-weight: 400;
}

.review-container > p{
    margin-top: 30px;
    margin-bottom: 20px;
    clear: both;
    font-size: 13px;
}

@media screen and (min-width: 1000px){

    .container{
        display: grid;
        gap: 30px;
        padding: 0 40px;
        min-width: 1000px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "heading ratings"
        "reviews reviews";

        background-image: url(images/bg-pattern-top-desktop.svg), 
        url(images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
    }

    .heading{
        grid-area: heading;
    }

    .heading h1{
        font-size: 40px;
        text-align: left;
    }

    .heading p{
        text-align: left;
        padding: 0 40px;
    }

    .rating{
        grid-area: ratings;
    }

    .rating-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .rating-container:nth-child(2){
        position: relative;
        inset-inline-start: 50px;
    }

    .rating-container:nth-child(3){
        position: relative;
        inset-inline-start: 100px;
    }

    .reviews{
        grid-area: reviews;
        display: flex;
    }

    .review-container{
        align-self: stretch;
        margin: 10px 10px;
    }

    .review-container:nth-child(1){
        position: relative;
        bottom: 15px;
    }

    .review-container:nth-child(3){
        position: relative;
        top: 15px;
    }




}