@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --spartan: 'Spartan', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    font-family: var(--spartan);
    font-size: 15px;
    background-color: var(--white);
}

.container{
    width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bg-top {
	position: absolute;
	transform: translate(-16%, -3%);
	top: 0;
	left: 0;
    
}

.bg-bottom {
	position: absolute;
	transform: translate(-1%, 60%);
	bottom: 0;
	right: 0;
    overflow: hidden;
}

.heading h1{
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
    padding: 10px 70px;
    color: var(--veryDarkMagenta);
    letter-spacing: -1px;
}

.heading p{
    text-align: center;
    font-size: 14px;
    color: var(--veryDarkMagenta);
    line-height: 1.5;
    padding: 10px 20px;
}

.rating{
    margin-top: 20px;
    align-self: stretch;
    padding: 10px 20px;
}

.rating div{
    text-align: center;
    margin: 15px 0;
    background-color: var(--lightGrayishMagenta);
    border-radius: 5px;
}

.rating-container{
    padding: 10px 10px;
}

.rating-container p{
    font-weight: bold;
    color: var(--veryDarkMagenta);
}

.reviews{
    margin-top: 20px;
    margin-bottom: 80px;
}

.review-container{
    background-color: var(--veryDarkMagenta);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 10px;
}

.review-container img{
    border-radius: 50%;
    float: left;
    /* width: 40px; */
}

.review-container > p{
    clear: both;
}